@import url(http://fonts.googleapis.com/css?family=Arvo:700);

body {
	background-image: url("../images/bg.png");	
}

div.container {
	width:auto;
	height: 1200px;
}

div.header {
	position: relative;
	height: 200px;
		background-image: url("../images/c.jpg");
	background-repeat:no-repeat;
	background-position:center center;
	width:auto;
} 

div#headerContent {
	max-width: 920px;
	margin: auto;
	padding: .5em; 
}

div#logo, div#navigator {
	color: white;
	font-family: 'Arvo', serif;
}

div#logo {
	font-size: 2em;
	float: left;
	margin-right: .2em;
}

ul {
	list-style: none;  
} 

div#navigator {
	font-size: 1em;
	color: white;
	width: 920px;
	float: left;
	width:25em;
	margin-top: 2.4em;
}  

div#navigator li {
	padding: .2em .3em .2em .3em;
	float:left;
	margin-right: .5em;  
	background: rgba(0, 0, 0, 0.3); 
	dislay:block;
	border-radius: 4px;
}

div#navigator a {
	text-decoration: none;  
	color:white;
}

div#navigator a:hover {
	color: #FFFFaa;
}

div#navigator div#separator {
	margin: 0em .2em 0 0;
	height:.8em;
	width:1em;
	background: #52E3F6;
	float:left;
	border-radius: 4px;
}

div#separatorAdd {
	margin-top: .15em;   
	color: #52E3F6;
	float:left;
	background: transparent;
	font-family: 'Arvo', serif; 
	font-size: 1.8em; 
	line-height: .1em;  
}

div.rightSpace, div.leftSpace {
	width: 50px;
	height: 50px;

}

div.content {
	padding: .5em; 
	position:relative;
	height:500px;
	max-width: 920px;
	background-color: rgba(253,255,241,.85); 
	margin: auto;
	top: -100;
	border-radius: 4px;
	box-shadow: 0px 0px 32px rgba(0, 0, 0, .2);  
}

div#stations {
	margin:auto;
	display:table;
	overflow: auto;
}

div#stations h1{
	color: black;
	font-family: 'Arvo', serif;
	font-size: 1.5em;
	margin-bottom: .5em;   
}

div#stationsList {
	padding: .5em; 
	background-color: #FFF7EE;
	border-radius: 8px;
	
	min-width: 300px;  
	height: 200px;
	margin-right: 1em;
	float:left;
}

td,th,tr {
	border: 1px solid #888;
	border-collapse: collapse;
	padding: .2em;
	font-family: sans-serif;
	font-weight: 600;
}

th {
	background-color: #bdbdbd;
	font-family: sans-serif;
	font-weight: 600;
}

div#stationsStatistics {
	padding: .5em; 
	background-color: #FFF7EE;
	border-radius: 8px;
	
	max-width: 300px;  
	height: 200px;
	float:left;
}